<div class="weather-partial">
<img width="128" height="128" src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{weather.icon}}.png">
<div class="weather-right__temperature">{{weather.temp}}</div>
<div class="weather-right-card">
    <table class="weather-right__table">
        <tbody><tr class="weather-right__items">
        <th class="weather-right__item" colspan="2">Details</th>
        </tr>
        <tr class="weather-right__items">
        <td class="weather-right__item">Current conditions</td>
        <td class="weather-right__item weather-conditions">{{weather.description}}</td>
        </tr>
        <tr class="weather-right__items">
        <td class="weather-right__item">Feels like</td>
        <td class="weather-right__item weather-right__feels">{{weather.tempFeelsLike}}</td>
        </tr>
        <tr class="weather-right__items">
        <td class="weather-right__item">Wind</td>
        <td class="weather-right__item weather-right__wind-speed">{{weather.windSpeed}}</td>
        </tr>
        <tr class="weather-right-card__items">
        <td class="weather-right__item">Humidity</td>
        <td class="weather-right__item weather-right__humidity">{{weather.humidity}}</td>
        </tr>
        <tr class="weather-right__items">
        <td class="weather-right__item">Sunrise</td>
        <td class="weather-right__item weather-right__sunrise">{{weather.sunRise}}</td>
        </tr>
        <tr class="weather-right__items">
        <td class="weather-right__item">Sunset</td>
        <td class="weather-right__item weather-right__sunset">{{weather.sunSet}}</td>
        </tr>
    </tbody></table>
</div>
</div>